<form *ngIf="userEntity" name="deleteForm" (ngSubmit)="confirmDelete(userEntity.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="userEntityDeleteDialogHeading">Translation missing for entity.delete.title</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <p id="jhi-delete-userEntity-heading">Are you sure you want to delete User Entity {{ userEntity.id }}?</p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span>Translation missing for entity.action.cancel</span>
    </button>

    <button id="jhi-confirm-delete-userEntity" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span>Translation missing for entity.action.delete</span>
    </button>
  </div>
</form>
